node_modules/
dist/
bin/
.pseudotv/
.dizquetv*/
.tunarr*/
web/public/bundle.js
*.orig
package-lock.json

config/
.vscode/
build/
log.txt
*.db
.DS_Store
.turbo/
*.env*
*.tar*
coverage/

*.dmg
*.app

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

## Build generated
build/
DerivedData/


# This is generated at runtime for dev builds.
tunarr-openapi.json

web/.tanstack
