{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.tsx"],
      "excludeFiles": ["server/src/migrations/**/*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
