.github/
.husky/
docker/
docs/
resources/

pnpm-*.yaml

**/bundle
**/node_modules

.release-please-manifest.json
CHANGELOG.md
mkdocs.yml

server/streams/**/*.ts
server/web/
server/temp
**/.tsup

*.html

docs-extras/**/*.md

web/src/generated/*
web/src/routeTree.gen.ts

*.sql