# Top level ignores
.github/
.husky/
.claude/
.serena/
CHANGELOG.md
mkdocs.yml
pnpm-*.yaml

# Package ignores
macos/
docker/
docs/
resources/

# Wide nets
**/bundle
**/node_modules
**/*.json
**/*.html
**/*.sql
docs-extras/**/*.md
**/.tsup

# Server
server/streams/**/*.ts
server/src/testing/ffmpeg/fixtures/*
server/web/
server/temp

# web
web/src/generated/*
web/src/routeTree.gen.ts
