site_name: Tunarr
repo_name: chrisbenincasa/tunarr
repo_url: https://github.com/chrisbenincasa/tunarr
theme:
  name: material
  palette: 
  # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  logo: assets/tunarr.png
  features:
    - navigation.tracking
    - navigation.path
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - content.code.select

nav:
  - Home: index.md
  - Getting Started:
    - Install: getting-started/installation.md
    - Setup: getting-started/setup.md
  - Configure:
    - Channels: configure/channels.md
    - Programming: configure/programming.md
    - Flex: configure/flex.md
    - System: configure/system.md
    - Clients:
      - configure/clients/index.md
      - Plex: configure/clients/plex.md
  - Misc.:
    - Common Issues: misc/common-issues.md
  - Development:
    - Contributing: dev/contributing.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

extra_css:
  - stylesheets/extra.css