/** For example : */

:root {
  --guide-text: #f0f0f0;
  --guide-header-even: #423cd4ff;
  --guide-header-odd: #262198ff;
  --guide-color-a: #212121;
  --guide-color-b: #515151;
  --guide-color-c: #313131;
  --guide-color-d: #414141;
}
