on:
  workflow_dispatch:
    inputs:
      base_ref:
        description: "Ref to build pre-release from"
        required: true
        default: 'dev'
  push:
    branches:
      - media-scanner

permissions:
  contents: write
  pull-requests: write

name: Create Release

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config-prerelease.json
          manifest-file: .release-please-manifest.json
          target-branch: ${{ inputs.base_ref || github.ref_name }}
