on:
  workflow_dispatch:
    inputs:
      base_ref:
        description: "Ref to build pre-release from"
        required: true
        default: "dev"
  push:
    branches:
      - media-scanner

permissions:
  contents: write
  pull-requests: write

name: Create Pre-Release

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: release-please-oss/release-please-action@v5.0.0
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: release/release-please-config-prerelease.json
          manifest-file: release/.release-please-manifest.json
          target-branch: ${{ github.ref_name }}
